:root {
    --grid_opacity: 0;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: rgb(73, 4, 4);
    font-family: oxanium;
}
.container-two {
    display:flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    margin: auto;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    aspect-ratio: 1/1;
    border: 5px solid rgb(196, 8, 8);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.757);
    max-width: 600px;
    max-height: 600px;
    min-height: 350px;
    min-width: 350px;
    margin-top: 30px;
    
}

.container__row {
    border: 1px solid rgb(20, 20, 20);
    aspect-ratio: 1/1;
    background-color: rgb(20, 20, 20);
    flex-grow: 1;
    opacity: var(--grid_opacity)
    
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-container {
    display: flex;
    margin-top: 30px;
    width: 50%; 
    max-width: 600px;
    min-width: 350px;
}
button {
    color: white;
    background-color: rgba(75, 0, 0, 0.64);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 4px;
    mix-blend-mode: luminosity;
    border-radius: 6px;
    border-color: rgb(127, 0, 0);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.757);
    
    
}

button:hover {
    background-color: rgb(40, 0, 0);
}

.clear {
    
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: 8px;
}

.size {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 6px;
}

.title {
    font-size: 3rem;
    mix-blend-mode: luminosity;
    color: white;
    text-shadow: 2px 4px 5px black;
    width: 100%;
    text-align: center;
}

.credit {
    font-style: italic;
    color: white;
    font-size: .8rem;
    text-align: center;
    position: absolute;
    left: 25%;
    width: 50%;
    height: fit-content;
    bottom: 2%;
}

.instruction {
    color: white;
    text-align: center;
}

